language: cpp
branches:
  only:
    - cmake
os:
  - linux
  #- osx
env:
  - BUILD_TYPE=Release GENERATOR=Ninja
  - BUILD_TYPE=Debug GENERATOR=Ninja
compiler:
  - gcc
  - clang
before_install:
  - test "$TRAVIS_OS_NAME" = "linux" && sudo add-apt-repository --yes ppa:andykimpe/cmake || echo "NOT adding apt repo."
  - test "$TRAVIS_OS_NAME" = "linux" && sudo add-apt-repository --yes ppa:zoogie/sdl2-snapshots  || echo "NOT adding apt repo."
  - test "$TRAVIS_OS_NAME" = "linux" && sudo apt-get update -qq  || echo "NOT updating apt repo."
install:
  - test "$TRAVIS_OS_NAME" = "linux" && sudo apt-get install -y cmake ninja-build || echo "NOT installing from apt."
  - test "$TRAVIS_OS_NAME" = "linux" && sudo apt-get install -y libopenal-dev libogg-dev libvorbis-dev libsdl2-dev libtheora-dev libreadline6-dev libpng12-dev libjpeg62-dev liblua5.1-0-dev libjansson-dev libtool || echo "NOT installing from apt."
  - test "$TRAVIS_OS_NAME" = "osx" && brew install pkg-config ninja sdl2 theora libogg libvorbis openal-soft || echo "NOT osx."
before_script:
  - cmake --version
  - mkdir travis-build
script:
  - cd travis-build
  - cmake -G "$GENERATOR" -DCMAKE_BUILD_TYPE=$BUILD_TYPE ..
  - cmake --build .
